# IDE
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
logs/
tmp/

# OpenAPI generator artifacts
openapi-generator-cli-*.jar
client/build/
client/src/

# Ansible lint cache
.ansible/

# test
tests/output
tests/integration/test_values.yml

# Coverage reports
.coverage
htmlcov/
